asgiref==3.5.2; python_version >= "3.8"
django-bootstrap-datepicker-plus==4.0.0; python_version >= "3.6"
django-bootstrap5==22.1; python_version >= "3.7"
django==4.1; python_version >= "3.8"
python-dotenv==0.20.0; python_version >= "3.5"
sqlparse==0.4.2; python_version >= "3.8"
tzdata==2022.2; sys_platform == "win32" and python_version >= "3.8"
